# SPDX-License-Identifier: GPL-2.0-only
# This is a build-only driver profile. Packaging and probe policy are host-owned.
CONFIG_KOBOX_HOSTED=y
CONFIG_64BIT=y
# CONFIG_VMAP_STACK is not set
# CONFIG_X86_KERNEL_IBT is not set
# CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS is not set
# CONFIG_X86_VSYSCALL_EMULATION is not set
# CONFIG_ISA_DMA_API is not set
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PRINTK=y
CONFIG_PROC_FS=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_FW_LOADER_DEBUG=y
CONFIG_SYSFS=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_DRM=m
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_AMD_DC=y
# CONFIG_HSA_AMD is not set
# CONFIG_DRM_AMDGPU_USERPTR is not set
# CONFIG_DRM_FBDEV_EMULATION is not set
