# SPDX-License-Identifier: GPL-2.0-only
# Common hosted block layer for USB mass storage and PCI NVMe. A USB profile
# also enables usbcore/xHCI/HID; an NVMe profile grants its own PCI function.
CONFIG_BLOCK=y
CONFIG_SCSI=m
CONFIG_BLK_DEV_SD=m
CONFIG_USB_STORAGE=m
CONFIG_NVME_CORE=m
CONFIG_BLK_DEV_NVME=m
