# SPDX-License-Identifier: GPL-2.0-only
# The hosted core supplies net_device/sk_buff/NAPI; netd owns the IP stack.
# Linux PCI matching chooses the driver after Kobox2 grants one Ethernet
# function. Both NIC families share one core, package and frame service.
CONFIG_KOBOX_HOSTED=y
CONFIG_64BIT=y
# CONFIG_VMAP_STACK is not set
# CONFIG_X86_KERNEL_IBT is not set
# CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS is not set
# CONFIG_X86_VSYSCALL_EMULATION is not set
# CONFIG_ISA_DMA_API is not set
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PRINTK=y
CONFIG_SYSFS=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_NET=y
# CONFIG_INET is not set
CONFIG_NETDEVICES=y
CONFIG_NET_VENDOR_REALTEK=y
CONFIG_R8169=m
# CONFIG_R8169_LEDS is not set
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=m
# CONFIG_VIRTIO_PCI_LEGACY is not set
CONFIG_VIRTIO_NET=m
