# SPDX-License-Identifier: GPL-2.0-only
# Controlled storage experiment: keep the baseline's compiler optimization and
# isolation unchanged, but allow upstream SLUB's per-CPU allocator fast paths.
# Rebuild the complete core and module closure; never mix allocator layouts.
# CONFIG_SLUB_TINY is not set
# Avoid enabling SLUB debug/stack tracing defaults as an unrelated cost change.
# CONFIG_SLUB_DEBUG is not set
