# SPDX-License-Identifier: GPL-2.0-only
# The hosted core provides net_device/sk_buff/NAPI; it deliberately does not
# run a second IP stack beside netd's libuinet instance.
CONFIG_KOBOX_HOSTED=y
CONFIG_64BIT=y
# CONFIG_VMAP_STACK is not set
# CONFIG_X86_KERNEL_IBT is not set
# CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS is not set
# CONFIG_X86_VSYSCALL_EMULATION is not set
# CONFIG_ISA_DMA_API is not set
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PRINTK=y
CONFIG_SYSFS=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_NET=y
# CONFIG_INET is not set
CONFIG_NETDEVICES=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_PCI=m
# CONFIG_VIRTIO_PCI_LEGACY is not set
CONFIG_VIRTIO_NET=m
