# SPDX-License-Identifier: GPL-2.0-only

CONFIG_SMP=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_PCI=y
CONFIG_PCI_MSI=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO=m
CONFIG_VIRTIO_PCI=m
# CONFIG_VIRTIO_PCI_LEGACY is not set
CONFIG_DRM=m
CONFIG_DRM_VIRTIO_GPU=m
CONFIG_DRM_VIRTIO_GPU_KMS=y
# CONFIG_DRM_FBDEV_EMULATION is not set
# CONFIG_DRM_CLIENT_LOG is not set
# CONFIG_DEBUG_FS is not set
